@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f1ab48;
}

h1 {
  text-align: center;
  background-color: beige;
}

img {
  height: 18px;
}




