@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f1ab48;
}

h1 {
  text-align: center;
  background-color: #f1ab48;
}

img {
  height: 18px;
}

.info {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}



.list {
  width: 30%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid black;
}

.list-item > p {
  display: inline;
}

.square {
  
  width: 20%;
}

.icon-name {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.detail-icon {
  width: 25%;
  height: 100%;
}

.price-percent,
.max-min {
  width: 100%;
  height: 30%;
  display: flex;
}

.max-min > p {
  display: inline;
  width: 50%;
  text-align: center;
}

.current {
  font-size: 1.5em;
  width: 64%;
  margin: auto;
  text-align: end;
  font-weight: bolder;
  padding-left: 55px;
}

.change {
  text-align: left;
  padding-right: 80px;
  width:36%;
}

.rank {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 15px;
}

.search-favorites {
  height: 30px;
  display: flex;
  margin-bottom: 15px;
  margin-left: 15px;
}

.chart {
  position: relative;
  margin: auto;
  padding: auto;
  text-align: center;
}

input {
}

.favorites {
  width: 120px;
  margin-left: 15px;
}

.add-fav {
  background: transparent;
  border: none;
}

.added {

}

