@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px;
  width: 400px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1ab48;
}